In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import tensorflow as tf
from PIL import Image

In [2]:
galaxy_data = pd.read_csv('../data/training_solutions_rev1.csv')
galaxy_data.head()

,GalaxyID,Class1.1,Class1.2,Class1.3,Class2.1,Class2.2,Class3.1,Class3.2,Class4.1,Class4.2,...,Class9.3,Class10.1,Class10.2,Class10.3,Class11.1,Class11.2,Class11.3,Class11.4,Class11.5,Class11.6
0,100008,0.383147,0.616853,0.000000,0.000000,0.616853,0.038452,0.578401,0.418398,0.198455,...,0.000000,0.279952,0.138445,0.000000,0.000000,0.092886,0.0,0.0,0.0,0.325512
1,100023,0.327001,0.663777,0.009222,0.031178,0.632599,0.467370,0.165229,0.591328,0.041271,...,0.018764,0.000000,0.131378,0.459950,0.000000,0.591328,0.0,0.0,0.0,0.000000
2,100053,0.765717,0.177352,0.056931,0.000000,0.177352,0.000000,0.177352,0.000000,0.177352,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000
3,100078,0.693377,0.238564,0.068059,0.000000,0.238564,0.109493,0.129071,0.189098,0.049466,...,0.000000,0.094549,0.000000,0.094549,0.189098,0.000000,0.0,0.0,0.0,0.000000
4,100090,0.933839,0.000000,0.066161,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000

In [9]:
def append_ext(fn):
    return str(fn)+".jpg"

In [10]:
galaxy_data["GalaxyID"]=galaxy_data["GalaxyID"].apply(append_ext)
galaxy_data["GalaxyID"]

0        100008.jpg
1        100023.jpg
2        100053.jpg
3        100078.jpg
4        100090.jpg
            ...
61573    999948.jpg
61574    999950.jpg
61575    999958.jpg
61576    999964.jpg
61577    999967.jpg
Name: GalaxyID, Length: 61578, dtype: object

In [11]:
classes = ['Class1.1', 'Class1.2', 'Class1.3', 'Class2.1', 'Class2.2', 'Class3.1','Class3.2', 'Class4.1', 'Class4.2', 'Class5.1', 'Class5.2', 'Class5.3','Class5.4', 'Class6.1', 'Class6.2', 'Class7.1', 'Class7.2', 'Class7.3','Class8.1', 'Class8.2', 'Class8.3', 'Class8.4', 'Class8.5', 'Class8.6', 'Class8.7', 'Class9.1', 'Class9.2', 'Class9.3', 'Class10.1', 'Class10.2', 'Class10.3', 'Class11.1', 'Class11.2', 'Class11.3', 'Class11.4', 'Class11.5', 'Class11.6'
]

In [12]:
train_gen = tf.keras.preprocessing.image.ImageDataGenerator(rescale=1./255.,validation_split=0.25)

In [15]:
train_generator = train_gen.flow_from_dataframe(dataframe=galaxy_data,directory="../data/images_training_rev1/",x_col="GalaxyID",y_col=classes,subset="training",batch_size=32,seed=42,
shuffle=True,
class_mode="raw",
target_size=(256,256))

validate = train_gen.flow_from_dataframe(dataframe=galaxy_data,directory="../data/images_training_rev1/",x_col="GalaxyID",y_col=classes,subset="validation",batch_size=32,seed=42,
shuffle=True,
class_mode="raw",
target_size=(256,256))

Found 46184 validated image filenames.
Found 15394 validated image filenames.